<ul class="nav nav-pills nav-stacked">
  <li><b>Categories</b></li>
  <!--To do : This needs to come from the database-->
  <% @sku_categories.each do |sku_categorie| %>
  <li role="presentation">
    <a href="/welcome/index?cat=<%= sku_categorie.cat_name %>">
      <%= sku_categorie.cat_name %>
    </a>
  </li>
  <% end %>
</ul>
